@import "_colors.scss";

$sans: "San Francisco", "halyard-display", "Helvetica Neue", "Lucida Grande", serif; // 400 Regular + Italic & 700 Bold + Italic
$display: "miller-display", serif; // 300 Roman + Italic
$special: "SF Mono", "Source Code Pro", sans-serif;

.sans {
  font-family: $sans;
  font-weight: normal;
}

.display {
  font-family: $display;
  letter-spacing: 1;
  font-weight: 300;
  font-style: normal;
}

.special {
  font-family: $special;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $display;
  font-weight: 300;
  line-height: 1;
  margin-bottom: 1rem;
  color: $light;
}

.h1,
h1 {
  @include font-size(2.5rem);
}

h1 {
  @include font-size(6rem);
  line-height: 0.9;
}

.h2,
h2 {
  @include font-size(3.1rem);
}

.h3,
h3 {
  @include font-size(1.75rem);
}

.h4,
h4 {
  @include font-size(1.4rem);
}

h5 {
  @include font-size(1.3rem);
}

h6 {
  @include font-size(1.2rem);
}

sup {
  color: inherit;
  top: -0.55em;
  font-size: 60%;
  font-weight: normal;
}

p {
  font-family: $sans;
  color: $light;
}

a {
  color: $light;
}

// Helper Classes

.larger-rfs {
  @include font-size(1.5rem);
}

.large-rfs {
  @include font-size(1.5rem);
}
.larger {
  font-size: 1.5em;
}

.large {
  font-size: 1.2em;
}

.small {
  font-size: 0.9em;
}

.smaller {
  font-size: 0.8em;
}

.smallest {
  font-size: 0.7em;
}

.label {
  font-family: $sans;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.center-mobile {
  @include MQ(maxL) {
    text-align: center;
    margin: 0 auto;
  }
}
